terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*/terraform.tfstate
terraform/*/terraform.tfstate.backup
terraform/*/.terraform/*
terraform/.terraform/*
terraform/instance_ip.txt
